services:
  cdc-oracle:
    image: container-registry.oracle.com/database/enterprise:19.3.0.0
    container_name: cdc-oracle
    shm_size: 4gb
    ports:
      - "1521:1521"
    environment:
      ORACLE_PWD: dbzpassword123
      ORACLE_CHARACTERSET: AL32UTF8
      ENABLE_ARCHIVELOG: "true"
    volumes:
      - ./init-scripts:/opt/oracle/scripts/startup # auto-run
      - oracle_data_cdc:/opt/oracle/oradata
    networks:
      - debezuim-net

    deploy:
      resources:
        limits:
          memory: 8G
          cpus: '4.0'
        reservations:
          memory: 4G
          cpus: '2.0'

volumes:
  oracle_data_cdc:

networks:
  debezuim-net:
    external: true
    name: debezuim-net
